/* Navbar */
.header-nav {
  background-color: #333;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.brand-title {
  font-size: 2rem;
  margin: 0.5rem;
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem; */
}
.color-green-yellow {
  color: greenyellow;
}
.color-white {
  color: white;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  border-radius: 5px;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5rem;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
/* End of Navbar */
